:root {
    --primary-color: #5fbaa7;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
 }

 h1 {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    text-align: center;
 }

 p {
    text-align: center;
 }

 .btn {
    color: white;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
    border: none;
 }

 .money-img {
    width: 150px;
 }

 .currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .currency select {
    padding: 0.3rem;
    border: 1px solid #dedede;
    display: flex;
    font-size: 12px;    
    align-items: center;
    justify-content: space-between;
 }

 .currency input {
    padding: 0.3rem;
    border: 1px solid #dedede;
    display: flex;
    font-size: 12px;    
    text-align: right;
}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: var(--primary-color);
    font-size: 14px;
    padding: 0 10px;
}

select:focus, input:focus, btn:focus {
    outline: 0;
}

